.tabs{
  margin-top: 2rem;
  width:100%;

  button{
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    width: 50%;

    &.active{
      background-color: rgb(133, 163, 148);
    }
  }
}

section{
  width: 90%;

  ul{
    list-style-type: none;
    box-sizing: border-box;
    margin:0;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: stretch;
    gap: 2rem;

    li{
      box-sizing: border-box;
      width: 100%;
      height: 10rem;
      background-color: rgb(105, 128, 130);
      border-radius: 20px 20px;
      font-size: 1.1rem;
      text-align: center;
      cursor: pointer;

      button{
        border-radius: 25px 25px;
      }
    }
  }
}

.ql-toolbar:first-of-type{
  display: none;
}