#dashboard, .dashboard{
  padding: 0 3rem;
  width:85%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;

  h2{
    text-align: center;
  }

  .deleteBtn{
    align-self: center;
    font-size: 1rem;
    transition: all 0.3s;
    border-radius: 5px 5px;

    &:hover{
      background-color: rgb(144, 88, 88);
    }
  }

  .tabs{
    width:100%;
    align-self: flex-start;
    padding: 2.6rem 0 0;
    box-sizing: border-box;
  
    button{
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem 0.1rem;
      background-color:transparent;
      transition: all 0.2s; 
      margin:0 1.5rem 0 1rem;
  
      &.active{
        border-bottom: 2px solid rgb(245, 245, 245);
      }
    }
  }

  #folderList, #noteList{
    list-style-type: none;
    box-sizing: border-box;
    margin:0;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    .folderListItem, .noteListItem{
      box-sizing: border-box;
      width: 100%;
      height: 10rem;
      padding: 1rem;
      border-radius: 10px 10px;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      font-size: 1.1rem;
      transition: all 0.4s;
      cursor: pointer;

      p{
        height: 75%;
        margin: 3rem 0 0;
        box-sizing: border-box;
      }
  
      .detailsHover{
        height: 20px;
        position: relative;
        bottom: -3rem;
        font-size: 0.9rem;
        font-style: italic;
        font-weight: normal; 
        transition:all 0.3s;
        color:white;
  
        p{
          margin: 0;
        }
      }

      &:hover{
        transform:scale(1.1);
        
        .detailsHover{
          bottom: 0;
        }
      }
    }
  }

  .folderListItem{
    background-color: rgb(69, 81, 97);
    color: white;
    transition: all 0.2s;
    overflow: hidden;
  }
  
  .noteListItem{
    background-color: #ccc;
    color: rgb(69, 81, 97);
    overflow: hidden;

    .detailsHover{
      p{
        color: rgb(69, 81, 97);
      }
    }
  }

  .createNewItem{
    background-color: rgb(144, 144, 164);
    color:white;
  }
}

.ql-toolbar:first-of-type{
  display: none;
}