body{
  background-color: rgb(36, 41, 51);
  color: #ccc;
  padding: 0;

  #root{
    height: 100vh;
    display: flex;
    flex-direction: column;
    

    header{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: rgb(19, 22, 27);
      padding: 1.5rem 0;

      nav{
        display:flex;
        height:2.5rem;
        align-content: center;
        position:absolute;
        right:3rem;
        gap: 0.7rem;
        
        #dashboardBtn{
          color:white;
          background-color: rgb(69, 81, 97);
          box-sizing: border-box;
          font-size: 0.9rem;
          text-align: justify;
          text-justify: baseline;
          padding: 11px 10px;
          border-radius: 7px 7px;
          transition: all 0.3s;

          &:hover{
            transform: scale(1.1);
          }
        }

        .logoutBtn{
          background-color: rgb(19, 22, 27);
          font-size: 0.9rem;
          border-radius: 7px 7px;
        }
      }
    }

    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;

      .loginForm{
        width: 20%;
      }
  
      section{
        min-height:max-content;
      }
    }

    footer{
      align-self: center;
      padding: 2.5rem;
      width:100%;
      text-align: center;
    }
  }

  a{
    color: #ccc;
    text-decoration: none;
  }

  

  button{
    color: white;
    border: none;
    padding: 5px 10px;
    transition: all 0.3s;
    cursor: pointer;
  }

  .backBtn{
    background-color: transparent;
    font-size: 1.1rem;
    color: #ccc;
    text-decoration:underline;
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;

    input{
      padding: 5px;
      background-color: #ccc;
      border: none;
      
      &::placeholder{
        color: rgb(85, 85, 85);
        font-style: italic;
        text-transform: lowercase;
      }
    }
  }
}