.note{
  background-color: #ccc;
  min-width: 45%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(69, 81, 97);
  position: relative;
  border-radius: 8px 8px;

  .noteDetails{
    align-self: flex-start;
    position: absolute;
    display: flex;
    flex-direction: row;
    font-style: italic;
    margin: 10px 10px;
    align-items: baseline;

    #noteHeading{
      margin: 0 5px;
      font-size: 0.9rem;    
    }

    #noteDate{
      font-size: 0.8rem;
      margin: 0 5px;
    }
  }

  .noteText{
    padding: 2rem 3rem 2.5rem;
    max-width: fit-content;

  }

  .noteBtns{
    box-sizing: border-box;
    position:relative;
    align-self: flex-end;

    .editBtn {
      background-color: rgb(69, 81, 97);
      padding: 0.4rem 0.5rem;
      border-radius: 0 0;
      font-size: 0.9rem;
      border-bottom-left-radius: 8px;
    
      &:hover{
        background-color: rgb(57, 68, 82);
      }
    }
  
    .deleteBtn {
      background-color: rgb(65, 65, 65);
      border-radius:0 0;
      font-size: 0.9rem;
      border-top-right-radius: 8px;
      padding: 0.4rem 0.5rem;
    
      &:hover{
        background-color: rgb(144, 88, 88);
      }
    }
  }
}

.select-btn-wrapper{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width:45%;
  justify-content: center;
  column-gap: 0.4rem;

  .folderSelect{
    grid-column: 1/ span 3;
    position: relative;
    background-color: #ccc;
    color: rgb(69, 81, 97);
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 5px 5px;
    cursor: pointer;
  }

  button{
    grid-column: 4;
    font-size: 0.9rem;
    padding:3px 4px;
    background-color: rgb(69, 97, 76);
    border-radius: 5px 5px;

    &:hover{
      background-color: rgb(62, 81, 67);
    }
  }
}

.closeBtn{
  border-radius: 3px 3px;
  font-size: 1rem;
  transition: all 0.2s;
  background-color: transparent;
  font-weight: bold;
  font-size:1.5rem;
  margin-top: 4rem;

  &:hover{
    background-color: rgb(84, 79, 97);
    transform: scale(1.1);
  }
}